# docker-compose.yml
services:
  db:
    image: postgres:15
    container_name: lokomotiv_postgres
    restart: always
    environment:
      POSTGRES_DB: lokomotiv
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - lokomotiv_net

  web:
    build: .
    container_name: lokomotiv_django
    restart: always
    env_file:
      - .env
    ports:
      - "8080:8000"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      db:
        condition: service_healthy
    networks:
      - lokomotiv_net

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  lokomotiv_net:
    driver: bridge