name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: nurik345
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: nurik345/lokomotivticket:latest

      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 10.15.15.29
          username: megaton
          password: ${{ secrets.SERVER_PASS }}
          script: |
            cd /home/megaton/lokomotiv
            docker compose down
            docker compose pull
            docker compose up --build -d
            sleep 10
            docker compose exec web python manage.py migrate --no-input
            docker compose exec web python manage.py collectstatic --no-input
